In [1]:
import pandas as pd
import csv
import re
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel("/Users/niteshpadidam/Phase3/Telco_customer_churn.xlsx")
total_df=pd.read_excel('/Users/niteshpadidam/Phase3/Telco_customer_churn.xlsx')
work_df = df.copy()
work_df

import re

# Formating _columns names into snake case
def camel_to_snake(name):
    name = name.replace(' ', '_')
    s1 = re.sub('(.)([A-Z][a-z]+)', r'\1\2', name)
    return re.sub('([a-z0-9])([A-Z])', r'\1\2', s1).lower()

# Example: Convert camel case column names with spaces to lowercase with underscores
camel_case_columns = work_df.columns
snake_case_columns = [camel_to_snake(col) for col in camel_case_columns]

#work_df.rename(columns=snake_case_columns, inplace=True)
work_df.set_axis(snake_case_columns, axis=1, inplace=True)
work_df

# Consistency in data
work_df = work_df[(work_df['latitude'] >= -90) | (work_df['latitude'] <= 90)]
work_df = work_df[(work_df['longitude'] >= -180) | (work_df['longitude'] <= 180)]
work_df

# 1 changing Data Types
work_df['total_charges'] = pd.to_numeric(work_df['total_charges'], errors='coerce')
work_df.dtypes['total_charges']
work_df
# ['Total Charges']
# ['total_charges']

/var/folders/hz/0jlm0st13w1b082p3j9zg0080000gn/T/ipykernel_78450/2238414876.py:25: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  work_df.set_axis(snake_case_columns, axis=1, inplace=True)

,customerid,count,country,state,city,zip_code,lat_long,latitude,longitude,gender,...,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,89,5340,Competitor had better devices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416,Female,...,Two year,Yes,Bank transfer (automatic),21.15,1419.40,No,0,45,5306,NaN
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183,Male,...,One year,Yes,Mailed check,84.80,1990.50,No,0,59,2140,NaN
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164,Female,...,One year,Yes,Credit card (automatic),103.20,7362.90,No,0,71,5560,NaN
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330,Female,...,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,59,2793,NaN
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503,Male,...,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,0,38,5097,NaN

In [2]:
# 2 Checking Nulls
# null_df = pd.DataFrame(work_df.columns)
# null_df['K'] = work_df.isnull().sum()
# null_2 = pd.DataFrame(work_df.isnull().sum())
K = work_df.isnull().sum()
for i in K:
    if i > 0 :
        ind = K[K == i].index[0]
        if i/work_df.shape[0] < 0.4:
#             print('if',ind)
            work_df = work_df.dropna(subset=[ind])
        else:
#             print('else',ind)
            work_df = work_df.drop([ind], axis = 1)
            
work_df
# K
# # work_df.shape[0]
# # for i in K:
# #     print(i)
# work_df
# type(work_df.isnull().sum())
# null_2

,customerid,count,country,state,city,zip_code,lat_long,latitude,longitude,gender,...,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,1,86,5372
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,89,5340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416,Female,...,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.40,No,0,45,5306
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183,Male,...,Yes,One year,Yes,Mailed check,84.80,1990.50,No,0,59,2140
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164,Female,...,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No,0,71,5560
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330,Female,...,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,59,2793
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503,Male,...,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,0,38,5097

In [3]:
# handling nulls
work_df.isnull().sum()
work_df = work_df.dropna(subset=['total_charges'])
work_df = work_df.drop(['churn_reason'], axis = 1)
work_df

KeyError: "['churn_reason'] not found in axis"

In [4]:
# Removing LatLong Column
work_df = work_df.drop('lat_long',axis = 1)

In [5]:
work_df = work_df.drop_duplicates(keep='first')
work_df

,customerid,count,country,state,city,zip_code,latitude,longitude,gender,senior_citizen,...,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv
0,3668-QPYBK,1,United States,California,Los Angeles,90003,33.964131,-118.272783,Male,No,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239
1,9237-HQITU,1,United States,California,Los Angeles,90005,34.059281,-118.307420,Female,No,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701
2,9305-CDSKC,1,United States,California,Los Angeles,90006,34.048013,-118.293953,Female,No,...,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,1,86,5372
3,7892-POOKP,1,United States,California,Los Angeles,90010,34.062125,-118.315709,Female,No,...,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003
4,0280-XJGEX,1,United States,California,Los Angeles,90015,34.039224,-118.266293,Male,No,...,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,89,5340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,34.341737,-116.539416,Female,No,...,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.40,No,0,45,5306
7039,6840-RESVB,1,United States,California,Adelanto,92301,34.667815,-117.536183,Male,No,...,Yes,One year,Yes,Mailed check,84.80,1990.50,No,0,59,2140
7040,2234-XADUH,1,United States,California,Amboy,92304,34.559882,-115.637164,Female,No,...,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No,0,71,5560
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,34.167800,-116.864330,Female,No,...,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,0,59,2793
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,34.424926,-117.184503,Male,No,...,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,0,38,5097

In [6]:
#  checking for duplicates
duplicates = work_df.duplicated()
duplicates.unique()

array([False])

In [7]:
# categorical to numerical
def convert_cat_num(work_df):
    work_df['gender'] = work_df["gender"].map({'Male':0,'Female':1})
    work_df['senior_citizen'] = work_df["senior_citizen"].map({'Yes':1,'No':0})
    work_df['partner'] = work_df['partner'].map({'Yes':1,'No':0})
    work_df['dependents'] = work_df.dependents.map({'Yes':1,'No':0})
    work_df['phone_service'] = work_df["phone_service"].map({'Yes':1,'No':0})
    work_df['multiple_lines'] = work_df["multiple_lines"].map({'Yes':1,'No':0,'No phone service':0})
    work_df["internet_service"] = work_df["internet_service"].map({'DSL':1,'Fiber optic':1,'No':0})
    work_df['online_security'] = work_df["online_security"].map({'Yes':1,'No':0,'No internet service':0})
    work_df['online_backup'] = work_df["online_backup"].map({'Yes':1,'No':0,'No internet service':0})
    work_df['paperless_billing'] = work_df["paperless_billing"].map({'Yes':1,'No':0})
    work_df['tech_support'] = work_df["tech_support"].map({'Yes':1,'No':0,'No internet service':0})
    work_df['streaming_tv'] = work_df["streaming_tv"].map({'Yes':1,'No':0,'No internet service':0})
    work_df['streaming_movies'] = work_df["streaming_movies"].map({'Yes':1,'No':0,'No internet service':0})
    work_df['device_protection'] = work_df["device_protection"].map({'Yes':1,'No':0,'No internet service':0})
    work_df["contract"] = work_df["contract"].map({'Month-to-month':0, 'Two year':2, 'One year':1})
    work_df["payment_method"] = work_df["payment_method"].map({'Electronic check': 1, 'Bank transfer (automatic)': 2, 'Credit card (automatic)': 0, 'Mailed check': 3})
    work_df['churn_label'] = work_df["churn_label"].map({'Yes':1,'No':0})
    return work_df
convert_cat_num(work_df)

,customerid,count,country,state,city,zip_code,latitude,longitude,gender,senior_citizen,...,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv
0,3668-QPYBK,1,United States,California,Los Angeles,90003,33.964131,-118.272783,0,0,...,0,0,1,3,53.85,108.15,1,1,86,3239
1,9237-HQITU,1,United States,California,Los Angeles,90005,34.059281,-118.307420,1,0,...,0,0,1,1,70.70,151.65,1,1,67,2701
2,9305-CDSKC,1,United States,California,Los Angeles,90006,34.048013,-118.293953,1,0,...,1,0,1,1,99.65,820.50,1,1,86,5372
3,7892-POOKP,1,United States,California,Los Angeles,90010,34.062125,-118.315709,1,0,...,1,0,1,1,104.80,3046.05,1,1,84,5003
4,0280-XJGEX,1,United States,California,Los Angeles,90015,34.039224,-118.266293,0,0,...,1,0,1,2,103.70,5036.30,1,1,89,5340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,34.341737,-116.539416,1,0,...,0,2,1,2,21.15,1419.40,0,0,45,5306
7039,6840-RESVB,1,United States,California,Adelanto,92301,34.667815,-117.536183,0,0,...,1,1,1,3,84.80,1990.50,0,0,59,2140
7040,2234-XADUH,1,United States,California,Amboy,92304,34.559882,-115.637164,1,0,...,1,1,1,0,103.20,7362.90,0,0,71,5560
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,34.167800,-116.864330,1,0,...,0,0,1,1,29.60,346.45,0,0,59,2793
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,34.424926,-117.184503,0,0,...,1,2,1,2,105.65,6844.50,0,0,38,5097

In [8]:
work_df['churn_label'] = work_df["churn_label"].map({'Yes':1,'No':0})

In [9]:

for column in work_df.columns:
    print(column , work_df[column].unique())
#Since we have one unique value in it we can remove count, country, state
# And we can retreive country and state from zip code and latitude, longitude data, we can remove country, state
work_df=work_df.drop(['count','country','state'],axis=1)
work_df

customerid ['3668-QPYBK' '9237-HQITU' '9305-CDSKC' ... '2234-XADUH' '4801-JZAZL'
 '3186-AJIEK']
count [1]
country ['United States']
state ['California']
city ['Los Angeles' 'Beverly Hills' 'Huntington Park' ... 'Tulelake'
 'Olympic Valley' 'Redcrest']
zip_code [90003 90005 90006 ... 96134 96146 95569]
latitude [33.964131 34.059281 34.048013 ... 41.813521 39.191797 40.363446]
longitude [-118.272783 -118.30742  -118.293953 ... -121.492666 -120.212401
 -123.835041]
gender [0 1]
senior_citizen [0 1]
partner [0 1]
dependents [0 1]
tenure_months [ 2  8 28 49 10  1 47 17  5 34 11 15 18  9  7 12 25 68 55 37  3 27 20  4
 58 53 13  6 19 59 16 52 24 32 38 54 43 63 21 69 22 61 60 48 40 23 39 35
 56 65 33 30 45 46 62 70 50 44 71 26 14 41 66 64 29 42 67 51 31 57 36 72]
phone_service [1 0]
multiple_lines [0 1]
internet_service [1 0]
online_security [1 0]
online_backup [1 0]
device_protection [0 1]
tech_support [0 1]
streaming_tv [0 1]
streaming_movies [0 1]
contract [0 2 1]
paperless_billing [1 0]
payment_method [3 1 2 0]
monthly_charges [ 53.85  70.7   99.65 ... 108.35  63.1   78.7 ]
total_charges [ 108.15  151.65  820.5  ... 7362.9   346.45 6844.5 ]
churn_label [nan]
churn_value [1 0]
churn_score [ 86  67  84  89  78 100  92  77  97  74  66  65  70  90  82  69  81  96
  87  88  75  76  95  99  80  73  94  83  98  71  85  68  91  93  72  79
  27  61  43  51  58  39  35  57  53  21  38  40  41  22  25  64  49  62
  52  59  29  33  20  30  26  54  56  55  28  37   9  60  24  63  23  47
  32   8  46  42  48  36  34   7  50  44  31   5  45]
cltv [3239 2701 5372 ... 2770 4645 5553]

,customerid,city,zip_code,latitude,longitude,gender,senior_citizen,partner,dependents,tenure_months,...,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv
0,3668-QPYBK,Los Angeles,90003,33.964131,-118.272783,0,0,0,0,2,...,0,0,1,3,53.85,108.15,NaN,1,86,3239
1,9237-HQITU,Los Angeles,90005,34.059281,-118.307420,1,0,0,1,2,...,0,0,1,1,70.70,151.65,NaN,1,67,2701
2,9305-CDSKC,Los Angeles,90006,34.048013,-118.293953,1,0,0,1,8,...,1,0,1,1,99.65,820.50,NaN,1,86,5372
3,7892-POOKP,Los Angeles,90010,34.062125,-118.315709,1,0,1,1,28,...,1,0,1,1,104.80,3046.05,NaN,1,84,5003
4,0280-XJGEX,Los Angeles,90015,34.039224,-118.266293,0,0,0,1,49,...,1,0,1,2,103.70,5036.30,NaN,1,89,5340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,Landers,92285,34.341737,-116.539416,1,0,0,0,72,...,0,2,1,2,21.15,1419.40,NaN,0,45,5306
7039,6840-RESVB,Adelanto,92301,34.667815,-117.536183,0,0,1,1,24,...,1,1,1,3,84.80,1990.50,NaN,0,59,2140
7040,2234-XADUH,Amboy,92304,34.559882,-115.637164,1,0,1,1,72,...,1,1,1,0,103.20,7362.90,NaN,0,71,5560
7041,4801-JZAZL,Angelus Oaks,92305,34.167800,-116.864330,1,0,1,1,11,...,0,0,1,1,29.60,346.45,NaN,0,59,2793
7042,3186-AJIEK,Apple Valley,92308,34.424926,-117.184503,0,0,0,0,66,...,1,2,1,2,105.65,6844.50,NaN,0,38,5097

In [ ]:
# Outlier treatment
# As dont have mostly categorical data and which looks fine with 0,1 as unique values
# So, we have decided to do outlier treatment on numerical data which is in 3 columns only
# After plotting zscore and setting the threshold to 3
# A z-score of 3 corresponds to a data point being significantly different from the mean. In a normal distribution, approximately 99.7% of the data falls within three standard deviations of the mean. This means that only about 0.3% of the data is expected to have z-scores beyond 3. Therefore, it is considered a stringent threshold for identifying extreme values.
# we see there is no data with zscore > 3
from scipy.stats import zscore
from scipy.stats import ttest_ind

z_scores = zscore(work_df[['tenure_months','total_charges','monthly_charges']])
cleaned_data = work_df[['tenure_months','total_charges','monthly_charges']][~(z_scores > 3)]
cleaned_data

In [ ]:
#Restting the index
df = work_df.reset_index(drop=True)
df

In [ ]:
work_df.shape

In [ ]:
total_df.shape

In [ ]:
work_df[['tenure_months','monthly_charges','total_charges','latitude','longitude','churn_score', 'cltv']].describe()

In [ ]:
cat_col_list=['gender',
       'senior_citizen', 'partner', 'dependents',
       'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'churn_label',
       'churn_value']
for i in cat_col_list :
    relative_frequencies = work_df[i].value_counts(normalize=True)
    print(relative_frequencies)
    print("______________________________________________________")

In [ ]:
# Spread of data
col_list = ['tenure_months','total_charges','monthly_charges']
for col in col_list :
    range_values = work_df[col].max() - work_df[col].min()
    print(col, range_values)

In [ ]:
# Univariate Analysis
import seaborn as sns
col_list = ['State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges','Churn Label']
fig = plt.figure(figsize = (25, 25))
i=1
for col in col_list:
    plt.subplot(5, 5, i)
    sns.histplot(x=total_df[col])
    i+=1
plt.show()

In [ ]:
# Variant analysis with target
fig = plt.figure(figsize = (25, 25))
col_list = [ 'city', 'zip_code', 'gender', 'senior_citizen', 'partner',
       'dependents', 'tenure_months', 'phone_service', 'multiple_lines',
       'internet_service', 'online_security', 'online_backup',
       'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
       'contract', 'paperless_billing', 'payment_method', 'monthly_charges',
       'total_charges','churn_value', 'cltv','churn_label']
data_cat=work_df[col_list]
i=1
for x in col_list[:-1]:
    plt.subplot(5, 5, i)
    ax=sns.countplot(data =data_cat , x = data_cat[x], hue ='churn_label', palette = ["#95BEDD", '#FF5959'])
    ax.set(xlabel = None, ylabel = None)
    plt.title(str(x), loc='center')
    i+=1
plt.show()

In [ ]:
plt.figure(figsize=(20,5))
sns.lineplot(x=work_df['tenure_months'], y=work_df['total_charges'], hue=df['internet_service'],
             ci=None, palette='viridis')

In [ ]:
plt.figure(figsize=(20,5))
sns.lineplot(x=work_df['tenure_months'], y=work_df['total_charges'], hue=df['contract'], ci=None, palette='viridis')

In [ ]:
plt.figure(figsize=(20,5))
sns.lineplot(x=df['tenure_months'], y=df['monthly_charges'], hue=df['churn_value'], ci=None, palette='viridis')

In [ ]:
def heatmap_graph(corr, chart_title, mask_uppertri=False ):
    mask = np.zeros_like(corr)
    mask[np.triu_indices_from(mask)] = mask_uppertri
    fig,ax = plt.subplots(figsize=(12,12))
    sns.heatmap(corr
                , mask = mask
                , square = True
                , annot = True
                , annot_kws={'size': 7, 'weight' : 'bold'}
                , cmap=plt.get_cmap("YlOrBr")
                , linewidths=.1)
    plt.title(chart_title, fontsize=14)
    plt.show()
# var_corr = round(work_df.corr(),2)
spearman_corr = work_df.corr(method='spearman')
heatmap_graph(spearman_corr
                       ,chart_title = 'Correlation Heatmap'
                       ,mask_uppertri = True)

In [ ]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

col_list = [ 'gender', 'senior_citizen', 'partner',
       'dependents', 'tenure_months', 'phone_service', 'multiple_lines',
       'internet_service', 'online_security', 'online_backup',
       'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
       'contract', 'paperless_billing', 'payment_method', 'monthly_charges',
       'total_charges']
data_pca=work_df[col_list]
scaler = StandardScaler()
data_scaled_pca = scaler.fit_transform(data_pca)

# Perform PCA
pca = PCA()
pca.fit(data_scaled_pca)

# Explained variance ratio
explained_variance = pca.explained_variance_ratio_
cumulative_variance = np.cumsum(explained_variance)
print(cumulative_variance)
plt.bar(range(1, len(explained_variance) + 1), explained_variance, label='Explained Variance')
plt.plot(range(1, len(explained_variance) + 1), cumulative_variance, marker='o', label='Cumulative Variance')
plt.xlabel('Principal Component')
plt.ylabel('Explained Variance / Cumulative Variance')
plt.title('Scree Plot with Cumulative Variance')
plt.legend()
plt.show()

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error, confusion_matrix,classification_report
from sklearn.metrics import average_precision_score, roc_auc_score, roc_curve, auc
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score

def model(method, x_train, y_train, x_test, y_test,md):
    # Training
    method.fit(x_train, y_train)
    # Predictions
    predictions = method.predict(x_test)
    rmse = np.sqrt(mean_squared_error(y_test, predictions))
    c_matrix = confusion_matrix(y_test, predictions)
    percentages = (c_matrix / np.sum(c_matrix, axis=1)[:, np.newaxis]).round(2) * 100
    labels = [[f"{c_matrix[i, j]} ({percentages[i, j]:.2f}%)" for j in range(c_matrix.shape[1])] for i in range(c_matrix.shape[0])]
    labels = np.asarray(labels)
    # Plot
    sns.heatmap(c_matrix, annot=labels, fmt='', cmap='Blues')
    plt.title('Confusion Matrix')
    # Evaluate model performance
    print("RMSE:", rmse)
    print("ROC AUC: ", '{:.2%}'.format(roc_auc_score(y_test, predictions)))
    print("Model accuracy: ", '{:.2%}'.format(accuracy_score(y_test, predictions)))
    print(f'Mean Absolute Error (MAE): {mean_absolute_error(y_test, predictions)}')
    print(classification_report(y_test, predictions))
    if md == 'lr':
      coefficients = lr.coef_
      feature_names = feature_data.columns
      feature_coefficients = list(zip(feature_names, coefficients[0]))
      feature_coefficients = sorted(feature_coefficients, key=lambda x: abs(x[1]), reverse=True)
      for feature, coefficient in feature_coefficients:
          print(f'{feature}: {coefficient:.4f}')
    return method

In [12]:
from sklearn.utils._param_validation import _MissingValues
from imblearn.over_sampling import SMOTE
# work_df.head()

ImportError: cannot import name '_MissingValues' from 'sklearn.utils._param_validation' (/Users/niteshpadidam/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py)

In [ ]:
total_df['Churn Label'].unique()

In [ ]:


# feature_data = work_df[['gender',
#        'senior_citizen', 'partner', 'dependents', 'tenure_months',
#        'phone_service', 'multiple_lines', 'internet_service',
#        'online_security', 'online_backup', 'device_protection', 'tech_support',
#        'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
#        'payment_method', 'monthly_charges', 'total_charges']]
feature_data = work_df[['gender','senior_citizen', 'tenure_months',
'phone_service', 'multiple_lines', 'internet_service','online_security',
             'online_backup', 'tech_support',
'streaming_tv', 'streaming_movies', 'monthly_charges', 'total_charges']]

x = feature_data.values
y = work_df['churn_label'].values

In [ ]:
len(work_df)

In [ ]:
work_df['churn_label'].value_counts()

In [ ]:
balancing = SMOTE(sampling_strategy = 1)
x,y = balancing.fit_resample(x,y)

In [ ]:
print('length of dataset:',len(x))
labels, counts = np.unique(y, return_counts=True)
for label, count in zip(labels, counts):
    print(f'Value {label}: Count {count}')

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state =2, test_size = 0.2)

In [13]:
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
xgb = XGBClassifier(learning_rate= 0.01,max_depth = 6,n_estimators = 1000)
rf = RandomForestClassifier()
dt = DecisionTreeClassifier(max_depth=15)
gnb = GaussianNB()

In [ ]:
xgb_t = model(xgb,x_train,y_train,x_test,y_test,'xgb')

In [ ]:
feature_importance = xgb_t.feature_importances_
feature_names = feature_data.columns
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
print(feature_importance_df)
#Plot
plt.figure(figsize=(10, 6))
plt.bar(feature_importance_df['Feature'], feature_importance_df['Importance'])
plt.xticks(rotation=45, ha='right')
plt.xlabel('Feature')
plt.ylabel('Importance')
plt.title('Feature Importance')
plt.show()

In [ ]:
rf_t = model(rf,x_train,y_train,x_test,y_test,'rf')

In [ ]:
feature_importance = rf_t.feature_importances_
feature_names = feature_data.columns
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
print(feature_importance_df)
#Plot
plt.figure(figsize=(10, 6))
plt.bar(feature_importance_df['Feature'], feature_importance_df['Importance'])
plt.xticks(rotation=45, ha='right')
plt.xlabel('Feature')
plt.ylabel('Importance')
plt.title('Feature Importance')
plt.show()

In [ ]:
dt_t = model(dt,x_train,y_train,x_test,y_test,'dt')

In [ ]:
feature_importance = dt_t.feature_importances_
feature_names = feature_data.columns
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})

feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

print(feature_importance_df)
#Plot
plt.figure(figsize=(10, 6))
plt.bar(feature_importance_df['Feature'], feature_importance_df['Importance'])
plt.xticks(rotation=45, ha='right')
plt.xlabel('Feature')
plt.ylabel('Importance')
plt.title('Feature Importance')
plt.show()

In [ ]:
gnb_t = model(gnb,x_train,y_train,x_test,y_test,'gnb')

In [ ]:
class_means = pd.DataFrame(gnb_t.theta_, columns=feature_data.columns)
print("Class Means:")
print(class_means.transpose())

In [ ]:
class_variances = []
for class_label in np.unique(y_train):
    X_class = x_train[y_train == class_label]
    variances = np.sqrt(np.var(X_class, axis=0))
    class_variances.append(variances)

print("Class Standard Deviations:")
df_var = pd.DataFrame(class_variances, columns=feature_data.columns).transpose()
print(df_var.round(2))

In [ ]:
lr = LogisticRegression()
lr_t = model(lr,x_train,y_train,x_test,y_test,'lr')

In [ ]:
feature_importance = lr_t.coef_[0]
feature_names = feature_data.columns
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importance})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
print(feature_importance_df)
#Plot
plt.figure(figsize=(10, 6))
plt.bar(feature_importance_df['Feature'], feature_importance_df['Importance'])
plt.xticks(rotation=45, ha='right')
plt.xlabel('Feature')
plt.ylabel('Importance')
plt.title('Feature Importance')
plt.show()

In [ ]:
x_train.shape

In [ ]:
svc_linear = SVC(kernel='linear')

In [ ]:
model(svc_linear,x_train,y_train,x_test,y_test,'svc_linear')

In [ ]:
rbf_svm = SVC(kernel='rbf', gamma=0.1)

In [ ]:
model(rbf_svm,x_train,y_train,x_test,y_test,'rbf_svm')

In [ ]:
5890/7032
# 1142

In [29]:
array_1 = [[1,2,3,4,5],[6,7,8,9,10]]
test_1 = pd.DataFrame(array_1, columns= ['A','B','C','D','E'])
test_1['churn'] = test_1['A'].apply(lambda x: 'Yes' if x == 1 else 'No')
test_1[test_1['A'] ==1].shape[0]

1

In [ ]:
predictions[predictions['churn_label']==1].shape[0]